* {
    box-sizing: border-box;
    text-align: right;
}

.body {
    padding-top: 74px;
}

.header {
    padding: 10px 0;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: cornsilk;
}

.search__form {
    display: inline-block;
    text-align: right;
}

.search {
position: relative;
width: 100%;
min-width: 100px;
}

.search__input {
width: 100%;
}

.search__button {
border: none;
position: absolute;
right: 1px;
top: 3px;
height: 15px;
padding: 0 5px;
}

.search__image {
text-align: left;
}

.nav {
padding-top: 10px;
text-align: right;
}

.nav__item {
    color: aquamarine;
   text-decoration: none; 
   margin: 0px 5px;
}

.nav__item:hover {
    transition: color 0.2s;
    color: blueviolet;
}

